* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*sets background color of entire page*/
body {
    background-color: #d9dcd6;
}
/*creates header banner color, sets font and font color*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display:inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;

}
/*sets top right links font size,puts them in a side by side container, removes bulllet points, adds space from the top of the page, puts the box on the right of the page, defines the font*/
ul{
    font-size:20px;
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*sets color of top right links, removes underline, adds space inbetween links*/
a {
    color: #ffffff;
    text-decoration: none;
    margin:20px;
}

p {
    font-size: 16px;
}
 /*I'm not sure if this is actually how this is supposed to be done, but it works so we're leaving it*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* properties for main body text location, images, etc...*/

main{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section{ 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main img{
    max-height: 200px;
}

main h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/*used element <aside> for a sidebar,.*/

aside  {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section{
    margin-bottom: 32px;
    color: #ffffff;

}

aside section h3{
    margin-bottom: 10px;
    text-align: center;
}

aside img{display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*changed div class footer to just footer. these set the font size location and padding for the footer*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

footer h2 {
    font-size: 20px;
}

.float-left {
    float: left;
    margin-right: 25px; 
}

.float-right {
    float: right;
    margin-left: 25px;
}